<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Results</div>
                    <div class="card-body">
                        <h1 class="align-content-center">{{mathData}}</h1>
                    </div>
                    <a class="btn btn-block btn-primary" href="/math"><- Back to do Math</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'mathData'
        ],
        data() {

        },
        methods: {

        }
    }
</script>
