<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Enter 2 Numbers</div>

                    <div class="card-body">
                        <form method="post">
                            <div class="input-group-lg">
                                <label for="value1">1st Value</label>
                                <input id="value1" type="number" name="value1" v-model="inputValues.value1" />

                                <label for="value2">2nd Value</label>
                                <input id="value2" type="number" name="value2" v-model="inputValues.value2" />
                            </div>
                            <button class="btn btn-block btn-primary" type="submit" @click="save()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                inputValues: {
                    value1: null,
                    value2: null
                }
            }
        },
        methods: {
            save() {
                axios.post('/math', this.$data)
                .then(function (res) {
                    console.log('post success');
                });
            }
        }
    }
</script>
